h1 {
    color: white;
    background-color: #343A40;
    text-align: center;
    padding: 10px;
    text-align: center;
}

/* #uv {
    background-color: red;
    color: white;
} */

#searchbtn {
    color: white;
    background-color: #007BFF;
}

#citysearch {
    font-size: 20px;
}

#citytitle {
    padding: 15px;
}

.currentinfo {
    padding-left: 15px;
}

#fiveday {
    padding: 15px;
    text-align: left;
}

.alldays {
    color: white;
    margin: 10px;
}

.alldaytext {
    padding: 5px;
    text-align: left;
}

.daydate {
    font-weight: bold;
}

.uvlow {
    background-color: green;
}

.uvmoderate {
    background-color: yellow;
}

.uvhigh {
    background-color: orange;
}

.uvveryhigh {
    background-color: red;
}

.uvextreme {
    background-color: violet;
}